@import-normalize;

/* TEXT
--------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

.typed {
  font-weight: 600;
  font-size: 20px;
}

h1 {
  font-weight: 600;
  font-size: 58px;
  margin: 5px 0px 20px 0px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  margin: 5px 0px 20px 0px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  margin: 5px 0px 16px 0px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  margin: 5px 0px 10px 0px;
}

p {
  font-size: 16px;
  margin: 5px 0px 10px 0px;
}

/* -- Text modifaers -- */

.text-color-white {
  color: #fff;
}

.text-color-green {
  color: #00df9a;
}


/* Moduels
--------------------- */

button {
  font-size: 16px;
  padding: 10px 30px;
  margin: 10px;
  background-color: #00df9a;
  color:#161616;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.icon {
  font-size: 30px;
}


/* Color
--------------------- */
.bg-black {
  background-color: #000 !important;
}


/* Grid
--------------------- */
.container {
  max-width: 1220px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.col {
  margin: 10px 15px;
  flex-grow: 1;
}

.container 

.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Section type
--------------------- */
section {
  padding: 50px 0;
}

.hero {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23aeaeae' fill-opacity='0.11'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .col {
  padding: 15px 10px 0 25px ;
  border-left: solid 1px #00df9a;
}


/* Nav
--------------------- */
.nav {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 30px !important;
}

.logo {
  margin: 0;
}

.nav div:has(.menuIcon) {
  position: relative;
  z-index: 99;
}

.menuIcon  {
  height: 32px;
  width: 32px;
}

.menuIcon:hover {
  cursor: pointer;
}

.menuPopUp {
  display:block;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #000;
  border-left: 1px solid #121212 ;
  display: flex;
  z-index: 98;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuPopUp ul {
  display: flex;
  width: 100%;
  
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
} 

.menuPopUp ul li {
  font-size: 36px;
  margin-bottom: 22px;
  text-align: right;
  color: #fff;
  font-weight: 600;
  margin: 0; 
  padding: 8px 30px 5px 0;
  cursor: pointer;
}



/* About
--------------------- *

.about {
  display: flex;
  height: 100vh;
  color: #161616;
}

.about-info, .about-image {
  flex: 1;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.about-image {
 background-image: url(img/my-profile.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Skills
--------------------- *
.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 0 10%;
}


.skills h3 {
  color: #fff;
}

.title-container {
  padding-bottom: 50px;
}

.list-container {
  display: flex;
}

.list-container div {
  flex: 1;
  padding: 0% 5%;
}

.skill {
  transition: all ease-in-out 0.3s;
  padding: 30px !important;
  margin: 0px 25px;
  background-color: #000;
  border-radius: 20px;
  transform: scale(1);
}

.skill.hover {
  transform: scale(2);
  transform: translateY(-10px);
  filter: drop-shadow(5px 5px 10px #787878);

}

.skill-icon {
  height: 60px;
  width: 60px;;
  color: #00df9a;
  margin-bottom: 30px;
}

*/